In [18]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1

print(type(var1))
# Print out length of var1

print(len(var1))
# Convert var2 to an integer: out2
out2 = int(var2)

<class 'list'>
4

In [19]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted

full_sorted = sorted(full,reverse=True)
# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]